$headerbgcolor: black
$headerfgcolor: white
$logourl: "/img/logo.svg"
$logoaspectratio: 5.65
$headerfontsize: 16pt
$headerfontfamily: "Roboto", sans-serif

@import navigation

html, body
  margin: 0
  padding: 0
