<!doctype html>
<!--point to FeedMarshal-->
<html>
  <head>
	  <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="/css/feed.css">
	  <title></title>
	</head>
	<body>
	  <header>
<!--	<div class="logo"><div>
	<form class="search-form" action="/search" method="get">
		<input type="text" name="query" value="">
		<input type="submit" name="submitBtn" id="searchSubmitBtn" value="">
	</form>-->
	<nav>
	<ul>
		<li><a href="/"><img class="logo" src="/img/logo.svg" alt="boraini.com"></img></a></li>
		<li><a href="/about">About Me</a></li>
		<li><a href="/cv">CV</a></li>
		<li><a href="/apps">Web Apps</a></li>
		<li><a href="/blog">Blog</a></li>
		<li><a href="https://abmdevandgames.blogspot.com">ABM</a></li>
	</ul>
</nav>

</header>

		<section class="feed-section">
		  <header>News</header>
			<article>
			  <div id="news" class="carousel"></div>
		      {{range .Items}}
          <!--point to Page-->
			    <div class="carousel-item">
				    <img src="{{.Thumb}}"/>
					  <p class="news-title">{{.Title}}</p>
            <p>{{.Abstract}}</p>
				  </div>
			    {{else}}
  			    Nothing new. ¯\_(ツ)_/¯
			    {{end}}
				</div>
		  </article>
		</section>
	</body>
</html>
